body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
    font-weight: 400;
    background: #131313;
}

body * {
    box-sizing: border-box;
}

.completed-container {
    padding: 107px 0 125px;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
}

.completed-projects {
    width: 490px;
    margin-top: 71px;
}

.completed-projects p {
    color: #FFFFFF;
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 27px;
    margin: 0 50px 0 0;
    width: 442px;
}

.title {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
}

.completed-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 34px;
    margin-top: 0;
}

.completed-subtitle {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-information {
    width: 490px;
    margin-top: 42px;
    display: grid;
    grid-template-columns: 190px 220px;
    grid-template-rows: 109px 55px;
}

.info {
    display: none;
}

.info.active {
    display: contents;
}

.item {
    margin-bottom: 1px;
}

.item p {
    font-size: 13px;
    margin: 9px 0 0 0;
    line-height: 21px;
    color: #FFFFFF;
}

.arrow {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 80px;
}

.button-arrow {
    background: rgba(0, 0, 0, 0);
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    padding: 0;
    border: none;
}

.button-arrow:hover {
    transform: scale(1.05);
}

.button-arrow:active {
    transform: scale(0.95);
}

.dots {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 61px;
}

.dots-item {
    width: 9.5px;
    height: 9.5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 8.8px;
    cursor: pointer;
    transition: 0.4s ease;
}

.dots-item:hover,
.dots-item.active {
    background: #FFFFFF;
}

.completed-examples {
    width: 680px;
    margin: -565px 0 0 492px;
}

.completed-navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.navigation-item {
    margin-right: 45px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.2s;
}

.navigation-item:hover,
.navigation-item.active,
.completed-navigation.active {
    color: #E3B873;
    text-decoration: underline;
    cursor: pointer;
}

.completed-img {
    margin-top: 52px;
    opacity: 0;
    transition: opacity 800ms ease;
    position: absolute;
    padding-bottom: 125px;
}

.completed-img.active {
    opacity: 1;
}